@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
 /* Colors */
  --black: rgb( 0,0,0);
  --black-85: rgba( 0,0,0, 0.85);
  --black-35: rgba( 0,0,0, 0.35);
  --lilac: #ba90d1;
  --blackish: #231b27;
  --plumish: #372A3E;
  --dark-lilac: #6e557c;
  --agapanthus: #2f53a7;
  --purple: #a965e4;
  
  /* gradient colors */
  --periwinkle: #A0B0D4;
  --lavender: #CAABD4;
  --pinkpearl: #E5CAD1;
  --pinkpearl-20: rgba(229, 202, 209, 0.2);
  --pinkpearl-01: rgba(229, 202, 209, 0.01);
  --shell: #F1F2F4;
  
  /* fonts */
  --font-header: 'Fraunces', serif;
  --font-body: 'Poppins', sans-serif;
  --font-accent: 'Sacramento', cursive;

/*   gradients-linear */
  --grad-linear-bg: rgb(210,173,215);
  --grad-linear: linear-gradient(152deg, rgba(210,173,215,1) 0%, rgba(231,180,232,1) 14%, rgba(206,155,223,0.9612438725490196) 29%, rgba(188,139,228,1) 55%, rgba(152,167,231,1) 70%, rgba(243,244,246,1) 100%);
  
/*   gradients-linear transparent */
  --grad-linear-bg-lt: rgba(210,173,215, 0.4);
  --grad-linear-lt: linear-gradient(152deg, rgba(210,173,215,0.4) 0%, rgba(231,180,232,0.4) 14%, rgba(206,155,223,0.4) 29%, rgba(188,139,228,0.4) 55%, rgba(152,167,231,0.4) 70%, rgba(243,244,246,0.4) 100%);
  

  /* border radii */
  --border-inner-bottom: 0 0 40px 40px;


  /* box shadows */
  --shadow-hazy: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  --shadow-hazy-pinkpearl: rgba(229, 202, 209, 0.2) 0px 8px 24px;
  --shadow-inner-tw: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  --shadow-inner-tw-lav: rgba( 202, 171, 212, 0.06) 0px 2px 4px 0px inset;
  --shadow-around-thin: rgba( 110, 85, 124, 0.16 ) 0px 1px 4px;
  }


* {
  box-sizing: border-box;
}


body {
  background-color: var(--shell);
  color: var(--plumish);
}

@layer components {
  * {
    font-family: var(--font-body);
    scroll-behavior: smooth;
  }

  h1, h2 {
    font-family: var(--font-header);
    font-size: 2.5em;
  }
  h3, h4, h5 {
    font-family: var(--font-header);
    font-size: 1.75em;
    color: var(--blackish);
  }

  h1 {
    color: var(--blackish);
    text-shadow: var(--pinkpearl) 2px 0 20px;
  }

  h2  {
    color: var(--plumish);
    text-shadow:  var(--pinkpearl) 1px 0 7px;
  }

  h3 {
    color: var(--blackish);
    text-shadow: var(--shell) 1px 0 6px;
  } 

  a h4, a h5 {
    color: var(--agapanthus)
  }
  .lang {
    @apply decoration-[--purple];
  }
  .library {
    @apply decoration-[--lilac];
  }
  .framework {
    @apply decoration-[--periwinkle];
  }
  .program {
    @apply decoration-[--pinkpearl];
  }
}

nav {
  position: sticky;
  top: 0;
  z-index: 100;
  margin-bottom: 2em;
  background-color: var(--dark-lilac);
  color: var(--shell);
  min-height: 100px;
  border-bottom: 1px solid var(--lilac);
  /* box-shadow: var(--shadow-hazy-pinkpearl); */
  border-radius: var(--border-inner-bottom);
}

main {
  padding-left: 1em;
  padding-right: 1em;
  margin: 1em;
  position: relative;
  }

.page-section {
  /* border-left: 3em solid var(--lilac) ;
  border-radius: 25px;
  padding-left: 1em; */
  box-shadow: var(--shadow-around-thin);
  margin-bottom: 1em;
}

.screen-reader-only {
  position: absolute;
  width: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
  white-space: nowrap;
}

.accent {
  font-family: var(--font-accent);
  font-size: 2em;
}



/*moving gradient for header*/
.gradient-background {
  background: linear-gradient(120deg, rgba(229, 202, 209, 0.2), #f1f2f4,#e5cad1, #ba90d1, #6e557c);
  background-size: 240% 240%;
  animation: gradient-animation 12s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


/*color background for contact me section*/
.color-bg {
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow: var(--shadow-hazy-pinkpearl);
  background-color: var(--pinkpearl-20);
  animation-name: changecolor;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes changecolor {
  0%   {background-color: var(--pinkpearl);}
  20%  {background-color: var(--lilac);}
  40%  {background-color: var(--lavender);}
  60% {background-color: var(--periwinkle);}
  80% {background-color: var(--lilac);}
  100%  {background-color: var(--pinkpearl);}
}
